html{
  text-align: center;
  font-family: Helvetica;
}
.bg-picture {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
.white
{
    color: white;
}
.bold {
    font-weight: bold;
}
a {
    font-size: 18px;
    color: white;
}
h1 {
    font-size: 70px;
}
.process .bold h2 {
    font-size: 32px;
}
h3 {
    font-size: 23px;
}
.potfolio h2 {
    font-size: 23px;
}
ul {
    list-style: none;
    line-height: 30px;
}
p {
    font-size: 14px;
}
.contacts {
    line-height: 30px;
}
