html{
  text-align: center;
  font-family: Helvetica;
}
.bg-picture {
  background-image: url(/Users/dariaaverina/broadway/resources/images/the-flatiron-building.png);
  background-position: center;
}
